# Firebase
serviceAccountKey.json
*.firebase.json
firebase-debug.log
firebase.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/

# IDE files
.idea/
.vscode/

# Other
*.log
coverage/